<!DOCTYPE html>
<html lang="pt-br" class="h-100">
	<!-- CONFIGURAÇÕES E IMPORTAÇÕES -->
    <head>
        <title>Dário - Web Developer</title>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="style/style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" href="img/icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script src="https://kit.fontawesome.com/f8a557bca4.js"></script>
    </head>
    <body class="h-100 m-0 p-0">
		<!-- LOGO FULLSCREN -->
        <section id="bloco-portfolio" class="bloco bg-dark-blue">
                <div class="row w-100 m-0" id="voltar">
                    <div class="col">
                        <a href="/">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                <div id="centro" class="row m-0">
                    <div class="col">
                        <a href="/galeria"><div id="portfolio-rodape" class="btn-portfolio"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">GALERIA</div></a>
                        <br/>
                        <a href="/websites"><div id="portfolio-rodape" class="btn-portfolio"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">WEBSITES</div></a>
                    </div>
                </div>
        </section>
		<!-- RODAPÉ DO SITE -->
        <footer class="bloco">
            <!-- REDES SOCIAIS -->
            <table id="footer1" class="w-100 text-center">
                <tr>
                    <td>
                        <a href="/portfolio"><div id="portfolio-rodape" class="btn-portfolio"  data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">PORTFÓLIO</div></a>
                    </td>
                </tr>
            <table id="footer2" class="w-100 text-center">
                <tr id="redes">
                    <td  data-aos="zoom-in" data-aos-duration="2000">
                        <a class="social" href="https://www.linkedin.com/in/dariooliveirajr/">
                            <table class=" redes1-1 w-100">
                                <tr>
                                    <td>
                                        <i class="fab fa-linkedin"></i>
                                    </td>
                                </tr>
                                </table>
                            <table class=" redes1-1 w-100">
                                <tr>
                                    <td>
                                        <p>
                                            LinkedIn
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td  data-aos="zoom-in" data-aos-duration="2000">
                        <a class="social" href="https://github.com/dariooliveirajr">
                            <table class=" redes1-2 w-100">
                                <tr>
                                    <td>
                                        <i class="fab fa-github-square"></i>
                                    </td>
                                </tr>
                            </table>
                            <table class=" redes1-2 w-100">
                                <tr>
                                    <td>
                                        <p>
                                            GITHUB
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
            <!-- BORDA -->
            <table class="w-100 text-center">
                <tr id=borda>
                    <td>
                        <img src="img/borda.png"/>
                    </td>
                </tr>
            </table>
            <!-- REDES2 -->
            <table class="redes2 w-100"  data-aos="zoom-in-up" data-aos-duration="2000">
                <tr>
                    <td class="text-center">
                        <i class="fas fa-envelope"></i>
                        <p>dariooljr@gmail.com</p>
                    </td>
                </tr>
            </table>
            <table class="redes2 w-100"  data-aos="zoom-in-up" data-aos-duration="2000">
                <tr>
                    <td class="text-center">
                        <i class="fab fa-whatsapp"></i>
                        <p>(11) 97662 - 0088</p>
                    </td>
                </tr>
            </table>
            <!-- COPYRIGHT -->
            <table id="copyright" class="w-100 text-center">
                <tr>
                    <td  data-aos="zoom-in" data-aos-duration="2000">
                        2020    -   DARIO DE OLIVEIRA JUNIOR
                    </td>
                </tr>
            </table>
        </footer>
		<!-- IMPORTAÇÃO DO FRAMEWORK AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>